.header {
  position: relative;
  z-index: 2;
  background: #2cc38a;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
  .logo {
    width: 100px;
  }
  nav {
    li {
      &:first-child {
        margin-right: 15px;
      }
    }
    img {
      vertical-align: middle;
      width: 24px;
    }
    .btn-line {
      img {
        width: 14px;
      }
    }
  }
}
